* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --link_color: aqua;
}

.container {
    height: 100%;
    width: 100%;
    background-color: rgb(214, 220, 255);
    position: fixed;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input::placeholder {
    color: black;
}

.sllbox {
    height: 80%;
    width: 100%;
    margin: 0;
}

.sllbox .inputBoxes {
    margin-top: -1.6px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    width: 100%;
    height: 13%;
    background-color: rgb(33, 46, 80);
}

.sllbox .inputBoxes>div {
    height: 70%;
    width: 18%;
    border: 1px solid black;
}

.sllbox .inputBoxes>div>input {
    height: 100%;
    width: 70%;
    float: left;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 3px;
    text-indent: 5px;
}

.sllbox .inputBoxes>div>p {
    float: left;
    height: 100%;
    width: 30%;
    outline: none;
    background-color: maroon;
}

.sllbox .inputBoxes>div>p img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    mix-blend-mode: darken;
}
#complexity {
	display: flex;
	height: 70px;
	/* margin-top: 30px; */
	background-color: aliceblue;
	color: black;
	padding: 10px;
	/* border-radius: 8px; */
	align-items: center;
	background-color:rgb(33, 46, 80);
  }
  
  #time-complexity {
	padding-top: 12px;
	height: 50px;
	width: 20%;
	border: 2px solid black;
	font-size: 16px;
	margin-bottom: 10px;
	margin-left: 25%;
	background-color: aliceblue;
  }
  #space-complexity{
	padding-top: 12px;
	height: 50px;
	width: 20%;
	border: 2px solid black;
	font-size: 16px;
	margin-bottom: 10px;
	margin-left: 10%;
	background-color: aliceblue;

  }


.sllbox .linked-list-container {
    width: 100%;
    height: 90%;
    background-color: white;
    padding: 30px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.sllbox .linked-list-container .row {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px 10px;
}

.sllbox .linked-list-container .row:nth-child(even) {
    flex-direction: row-reverse;
    padding-right: 10px;
}

.sllbox .linked-list-container .row .item {
    height: 50px;
    width: calc(12.5% - 5px);
    float: left;
    margin-bottom: 40px;
    transition: 1s all ease;
}

.sllbox .linked-list-container .row .item .value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 100%;
    width: 40%;
    border: 1px;
    border-right: 1.5px;
    border-color: black;
    border-style: solid;
    float: left;
    background-color: var(--link_color);
}

.sllbox .linked-list-container .row .item .link-horizontal {
    position: relative;
    float: left;
    height: 100%;
    width: 60%;
    background-image: url(../../../IMAGES/right_arrow.png);
    background-position: 20.5px center;
    background-repeat: no-repeat;
    background-size: 75% 100%;
}

.sllbox .linked-list-container .row .item .link-horizontal>div {
    float: left;
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 9;
}

.sllbox .linked-list-container .row .item .link-horizontal>div:first-child {
    mix-blend-mode: darken;
    background-color: var(--link_color);
    border: 1px solid black;
}

.sllbox .linked-list-container .row .item .link-vertical {
    float: left;
    position: relative;
    width: 40%;
    height: 200%;
    background-image: url(../../../IMAGES/down_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 75%;
}

.sllbox .linked-list-container .row .item .link-vertical>div {
    height: 50%;
    width: 100%;
    mix-blend-mode: darken;
}

.sllbox .linked-list-container .row .item .link-vertical>div:first-child {
    border: 1px solid black;
    background-color: var(--link_color);
}

.sllbox .linked-list-container .row .first {
    display: flex;
    height: 90px;
    width: 70px;
    position: relative;
    margin: 0px;
}

.turn {
    height: 90px;
    width: 50%;
    background-image: url(../../../IMAGES/turn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 220% 165%;
    mix-blend-mode: darken;
    float: left;
}

.little-turn {
    height: 50px;
    width: 30%;
    background-image: url(../../../IMAGES/little_turn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150% 150%;
    mix-blend-mode: darken;
    margin-bottom: 40px;
}

.sllbox .linked-list-container .row .first .arrow {
    height: 50px;
    width: 50%;
    background-image: url(../../../IMAGES/first_arrow.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80% 100%;
    margin: 0px;
}

.sllbox .linked-list-container .row .first {
    mix-blend-mode: darken;
}

.sllbox .linked-list-container .row .first .little-turn {
    height: 50px;
    width: 70%;
    background-image: url(../../../IMAGES/little_turn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150% 130%;
    rotate: 180deg;
}

.sllbox .linked-list-container .row .item .last-horizontal {
    position: relative;
    float: left;
    height: 100%;
    width: 60%;
}

.sllbox .linked-list-container .row .item .last-horizontal .last-half {
    height: 100%;
    width: 50%;
    background-color: aqua;
    border: 1px solid black;
    float: left;
}

.sllbox .linked-list-container .row .item .last-horizontal .half-line {
    height: 50px;
    width: 100%;
    background-image: url(../../../IMAGES/horizontal_line.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 150%;
    mix-blend-mode: darken;
}

.sllbox .linked-list-container .row .item .last-horizontal .extra {
    height: 50px;
    width: 50%;
    background-image: url(../../../IMAGES/horizontal_line.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100% 150%;
    float: left;
}

.turn-down {
    display: flex;
    height: 50px;
    width: calc(12.5% - 5px);
    position: relative;
    margin-bottom: 40px;
}

.turn-horizontal-line {
    display: flex;
    height: 50px;
    width: 70%;
    position: relative;
    margin-bottom: 40px;
    background-image: url(../../../IMAGES/horizontal_line.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 150% 150%;
    mix-blend-mode: darken;
}

.empty {
    display: flex;
    height: 50px;
    width: calc(12.5% - 5px);
    position: relative;
    margin: 0px;
    margin-bottom: 40px;
}

.horizontal-line {
    display: flex;
    height: 50px;
    width: calc(12.5% - 5px);
    position: relative;
    margin-bottom: 40px;
    background-image: url(../../../IMAGES/horizontal_line.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 150% 150%;
    mix-blend-mode: darken;
}

.vertical-line {
    display: flex;
    height: 90px;
    width: 50%;
    position: relative;
    background-image: url(../../../IMAGES/vertical_line.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 170% 150%;
    mix-blend-mode: darken;
}

.titleBar {
	width: 100%;
	height: 10%;
	background-color: rgb(20, 27, 53);
	position: sticky;
}


.titleBar nav {
	width: 70%;
	height: 20%;
	float: right;
	display: flex;
	align-items: center;
	justify-content: right;
}

.titleBar nav ul {
	list-style-type: none;
}
.titleBar nav ul a{
	text-decoration: none;
}
.titleBar nav li {
	color: white;
	padding-right: 50px;
	font-size: 35px;
	float: left;
}
.titleBar  #back{
	float: left;
	justify-content: start;
	/* margin-right: 25%; */
}

.titleBar .heading {
	height: 50%;
	width: 70%;
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	background-color: rgb(20, 27, 53);
	padding-top: 3%;
	margin-left: 15%;
}
.popup
{
	height: 100vh;
	width: 100%;
	background-color: rgb(0, 0, 0,0.4);
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
}
.popup > .box
{
	overflow: hidden;
	height: 40%;
	width: 45%;
	border: 2px solid maroon;
	background-color: rgb(195, 203, 248);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 30px;
	border-radius: 23px;
}
.popup>.box div:nth-child(1),
.popup>.box div:nth-child(2)
{
	margin-bottom: 2px;
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup>.box div:nth-child(2) p
{
	padding: 4px;
	margin: 0px 30px;
}
.popup> .box div:nth-child(3)
{
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup .box > div img
{
	margin-top: 5px;
	height: 100%;
	width: 30%;
	object-fit: contain;
	mix-blend-mode: darken;
}
.popup>.box div:nth-child(3) button
{
	border-radius: 10px;
	height: 60%;
	width: 15%;
	background-color: rgb(33, 49, 100);
	color: #ffffff;
	outline: none;
	border: none;
	padding: 5px;
	font-weight: 800;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .sllbox .inputBoxes>div {
        height: 60%;
        width: 18%;
    }
    .sllbox .linked-list-container .row .item {
        height: 47px;
    }
    .sllbox .linked-list-container .row .item .link-horizontal
    {
        background-size: 73% 100%;
    }
    .sllbox .linked-list-container .row .item .link-vertical
    {
        background-size: 80% 80%;
    }
        .sllbox .linked-list-container .row .item .value {
            font-size: 26px;
        }
        .sllbox .inputBoxes>div
        {
            height: 45%;
        }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .sllbox .inputBoxes>div {
        height: 70%;
        width: 18%;
    }
    .sllbox .linked-list-container .row .item
    {
        height: 50px;
    }
    .sllbox .linked-list-container .row .item .link-horizontal  
    {
        background-size: 75% 100%;
    }
    .sllbox .linked-list-container .row .item .link-vertical
    {
        background-size: 80% 75%;
    }
        .linked-list-container .row .item .value {
            font-size: 30px;
        }
    .sllbox .inputBoxes>div
    {
        height: 54%;
    }
}